
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display-Data</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/display_data.css' %}"/> 
</head>
<body class = "display-overall-container">
    {% load custom_filters %}
    <h2>Uploaded Data</h2>

    <!-- Search Form -->
    <form class= "search-and-filter-form" method="get">
        <label for="name_filter">Filter by Name:</label>
        <input class = "inputfields" type="text" id="name_filter" name="name_filter" value="{{ request.GET.name_filter }}">
    
        <label for="rms_filter">Filter by RMS:</label>
        <input class = "inputfields" type="text" id="rms_filter" name="rms_filter" value="{{ request.GET.rms_filter }}">
    
        <label for="pin_filter">Filter by PIN:</label>
        <input class = "inputfields" type="text" id="pin_filter" name="pin_filter" value="{{ request.GET.pin_filter }}">
    
        <button class="search_filter_btn" type="submit">Apply Filters</button>
    </form>

    <div class="sorting-buttons-container">
        <form method="get">
            <!-- Update the hidden input to sort by RMS, Pin, and Name -->
            <input type="hidden" name="sort_by" value="rms_pin_name">
            <button class="sorting-btns" class="sort-btn" type="submit">Sort by RMS, then Pin, then Name</button>
        </form>
        <form method="post" action="{% url 'download_expired_customers' %}">
            {% csrf_token %}
            <button class="sorting-btns" class="sort-btn" type="submit">Generate the expiring customers excel</button>
        </form>
        <form method="get">
            <!-- Update the hidden input to sort by RMS, Pin, and Name -->
            <input type="hidden" name="clear_repeat" value="clear_repetitions">
            <button class="sorting-btns" class="sort-btn" type="submit">Clear Repeating Entries</button>
        </form>
    </div>
    

    <!-- Sorting Links -->
    <table border="1">
        <thead>
            <tr>
                {% for column in columns %}
                <th>
                    <!-- <a href="?sort_by={{ column }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.name_filter %}&name_filter={{ request.GET.name_filter }}{% endif %}{% if request.GET.address_filter %}&address_filter={{ request.GET.address_filter }}{% endif %}{% if request.GET.pin_filter %}&pin_filter={{ request.GET.pin_filter }}{% endif %}"> -->
                        {{ column }}
                    <!-- </a> -->
                </th>
                {% endfor %}
            </tr>
        </thead>

        {% load custom_filters %}

        <tbody>
            {% for row in data %}
            <tr>
                {% for column in columns %}
                <td>{{ row|get:column }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>              
    </table>

    <!-- PDF Generation Button -->
    <div class="bottom-btn-container">
        <form method="post" action="{% url 'convert_to_pdf' %}">
            {% csrf_token %}
            <button class ="bottom-btns" type="submit">Convert to PDF</button>
        </form>
        <form method="post" action="{% url 'clear_file' %}">
            {% csrf_token %}
            <button class ="bottom-btns" type="submit">Clear and Upload New File</button>
        </form>
    </div>

</body>
</html>