<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Home1.css' %}"/> 
</head>
<body class = "home-overall-container">
    <div class = "home-container">
        <h2>Upload Spreadsheet</h2>
        <form class = "home-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class = "uploadbtn" type="submit">Upload</button>
        </form>
    </div>
</body>
</html>