.display-overall-container{
    background-color: rgba(233, 233, 39, 0.645);
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 100%;
    gap:25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-and-filter-form{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inputfields{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search_filter_btn{
    background-color: rgb(32, 174, 44);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}

.sorting-buttons-container{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sorting-btns{
    background-color: rgb(32, 174, 44);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}

.bottom-btn-container{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-btns{
    background-color: rgb(32, 174, 44);
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}