.home-overall-container{
    background-image: url('../images/4964560.jpg');
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container h2 {
    color:rgb(16, 88, 22);
}

.home-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container{
    background: rgba( 199, 187, 36, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadbtn{
    background-color: rgb(32, 174, 44);
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}